<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="validSheetNames" value="Belgium,Netherlands" />
    <add key="databaseEntries" value="Belgium;GDF SUEZ TRADING BRUSSELS;1214327535*Belgium;ORACLE BELGIUM PAYME;1213077931*Belgium;UPS EUROPE SPRL;1213664802*Belgium;BASE Company n.v./s.a.;99979*Belgium;Pfizer Manufacturing Belg;1213664655*Belgium;SKYPE COMMUNICATIONS SARL;1214234003*Belgium;GTECH GLOBAL SERVICES CORPORATION;101008,100350,100651*Belgium;UNITED PARCEL SERVICE BELG;1213260301*Netherlands;1/ARROW CENTRAL EUROPE;401331*Netherlands;VODAFONE PROCUREMENT COMPANY SARL;1213541304*Netherlands;PLIEGER B.V.;401561*Netherlands;ORACLE NEDERLAND BV;1213105725*Netherlands;CE - IT B.V.;400386*Netherlands;UPS SCS (NEDERLAND) B.V.;1213259631*Netherlands;VALEO SERVICE BENELUX B.V.;1213105834*Netherlands;Straumann BV;400499" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>